


<div class="row">
  <div class="col-sm-6">
    <h1>Tickets</h1>
  </div>

  <div class="col-sm-6 text-end">
  <%= link_to new_ticket_path, class: 'btn btn-primary' do %>
    Add New Ticket
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    

            <th>Title</th>
            <th>User</th>
            
          <th></th>
        
      </tr>
    </thead>

    <tbody>
      <% @tickets.each do |ticket| %>
        <%= content_tag :tr, id: dom_id(ticket), class: dom_class(ticket) do %>
          

                      <td><%= ticket.title %></td>
                      <td><%= ticket.user_id %></td>
          
          
            <td><%= link_to 'Show', ticket %></td>
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
